// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Accent
$accent-color: #d0491e !default;
$accent-color-dark: #a5390f !default;

// Headers
$header-heading-color: #1a1a1a !default;
$header-bg-color: #fafafa !default;
$header-border-color: #e9ebec !default;

// Text
$section-headings-color: #1a1a1a !default;
$body-text-color: #4a4a4a !default;
$body-link-color: $accent-color !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
